.access-form {
    max-width: 400px;
}

.active {
    color: white;
    font-weight: bold;
}

/*
.message-text {
    word-wrap: break-word;
    overflow-wrap: break-word;
}
*/

.no-underline {
    text-decoration: none;
}

/*
.username {
    font-weight: bold;
    white-space: nowrap;
}
*/

#chat-box {
    height: 58vh;
    overflow-y: auto;
    word-wrap: break-word;
    text-align: left;
}

#user-list {
    height: 70vh;
    overflow-y: auto;
}