{% extends "layout.html" %}
{% block title %}Login{% endblock %}

{% block main %}
<!-- Login form -->
<form action="{{ url_for('login') }}" method="post" class="access-form text-start mx-auto">
    <!-- Username -->
    <div class="mb-3">
        <label class="form-label">Username</label>
        <input type="text" class="form-control" name="username">
    </div>
    <!-- Password -->
    <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" name="password">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>
{% endblock %}