{% extends "layout.html" %}
{% block title %}Register{% endblock %}

{% block main %}
<!-- Register form -->
<form action="{{ url_for('register') }}" method="post" class="access-form text-start mx-auto">
    <!-- Username -->
    <div class="mb-3">
        <label class="form-label">Username</label>
        <input type="text" class="form-control" name="username">
    </div>
    <!-- Password -->
    <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" name="password">
    </div>
    <!-- Confirm Password -->
    <div class="mb-3">
        <label class="form-label">Confirm Password</label>
        <input type="password" class="form-control" name="confirm-password">
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>
{% endblock %}